@model AllTrainersViewModel

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div>
    <img height=500 weight=500 class="center" src="https://static.onecms.io/wp-content/uploads/sites/35/2019/02/03195512/gym-workouts-exericse-order.jpg">
</div>
<br />
<h1>Here you can find exercises for each group that you want to train</h1>
<br />

<form method="get">
    <div class="form-group">
        <label asp-for="SearchTerm">Search</label>
        <input asp-for="SearchTerm" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="WrestlerTrainers">Wrestling</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="BoxTrainers">Box</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="MmaTrainers">MMA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="YogaTrainers">Yoga</a>
    </li>

    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="AthleticTrainers">Athletics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Trainer" asp-action="FitnessTrainers">Fitness</a>
    </li>


</ul>
