 @{
    ViewData["Title"] = "GymOffers";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Gym Offers</h1>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">1 train per day</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$5</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Full access to all machines</li>
                    <li>Open Bar</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">1 Month</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$39</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Full access to all machines</li>
                    <li>Free parking</li>
                    <li>Free Wi-Fi</li>
                    <li>Open Bar</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">3 Months <small class="text-muted">/ saving $36</small></h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$81</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Full access to all machines</li>
                    <li>Free parking</li>
                    <li>Free Wi-Fi</li>
                    <li>Open Bar</li>
                </ul>
            </div>
        </div>
    </div>
</div>