@model RecipeFormModel

<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<div>
    <img class ="center" src="https://www.maggi.co.uk/sites/default/files/styles/maggi_desktop_image_style/public/NUK1265%20maggi%20Recipes%20banner%201500x700px%20opt2A.jpg?h=4f5b30f1&itok=DcsF1RwA">
</div>
<br />
<br />

<div class="row">
<div class="offset-md-3 col-md-6 col-sm-12 ">

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Name of the recipe</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="small text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description for the recipe</label>
        <textarea asp-for="Description"  type="text" class="form-control"> </textarea>
        <span asp-validation-for="Description" class="small text-danger"> </span>
    </div>

    <div class="form-group">
        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" type="text" class="form-control" id="input3">
        <span asp-validation-for="Calories" class="small text-danger"> </span>
    </div>

      <div class="form-group">
        <label asp-for="Fat">Fats</label>
        <input asp-for="Fat" type="text" class="form-control" id="input3">
        <span asp-validation-for="Fat" class="small text-danger"> </span>
    </div>

      <div class="form-group">
        <label asp-for="Carbohydrates">Carbohydrates</label>
        <input asp-for="Carbohydrates" type="text" class="form-control" id="input3">
        <span asp-validation-for="Carbohydrates" class="small text-danger"> </span>
    </div>

      <div class="form-group">
        <label asp-for="Protein">Protein</label>
        <input asp-for="Protein" type="text" class="form-control" id="input3">
        <span asp-validation-for="Protein" class="small text-danger"> </span>
    </div>

      <div class="form-group">
        <label asp-for="ImageUrl">Image Url</label>
        <input asp-for="ImageUrl" type="text" class="form-control" id="input3">
        <span asp-validation-for="ImageUrl" class="small text-danger"> </span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</div>
