
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />



<div>
    <img height=500 weight=500 class="center" src="https://static.onecms.io/wp-content/uploads/sites/35/2019/02/03195512/gym-workouts-exericse-order.jpg">
</div>
<br />
<h1>Here you can find exercises for each group that you want to train</h1>
<br />

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active"  asp-area="" asp-controller="Exercise" asp-action="BicepsExercises" id="check">Biceps</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Exercise" asp-action="ChestExercises">Chest</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Exercise" asp-action="BackExercises">Back</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-area="" asp-controller="Exercise" asp-action="LegExercises">Leg</a>
    </li>
</ul>


