@model ContactFormModel

 @{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div>
    <img src="https://arasturkproperty.com/wp-content/uploads/2022/01/contactus-1.jpg" class="img-fluid" alt="Responsive image">
</div>

<section class="mb-4">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Here you can send me email and ask anything you want. SendGrid is implemented and it works! If you want to contact me you can from here too.
    </p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your email address</label>
                            <span asp-validation-for="Name" class="small text-danger"> </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                            <span asp-validation-for="Subject" class="small text-danger"> </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                            <span asp-validation-for="Message" class="small text-danger"> </span>
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li>
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Sofia, 1000, Bulgaria</p>
                </li>
                <li>
                    <i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Mail: rbbojilov@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>