
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


    <img  text-center width=1150 height=540 src="https://inboxignite.com/wp-content/uploads/2019/07/190114_Blog_Feature_Be_Better_at_Email.jpg" />


<div class="alert alert-success" role="alert">
  The message was send successfully !
</div>