@*<!-- FOOTER -->

<footer class="w-100 py-4 flex-shrink-0">
    <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
            <p class="small text-muted">Thank you for joining our website ! For us it was pleasure.</p>

        </div>
        <div class="col-lg-2 col-md-6">
            <h5 class="text-white mb-3">Quick links</h5>
            <ul class="list-unstyled text-muted">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Class">Classes</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Exercise">Exercises</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Shop">Shop</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-6">
            <h5 class="text-white mb-3">Quick links</h5>
            <ul class="list-unstyled text-muted">
                <li><a asp-area="" asp-controller="Home" asp-action="Recipe">Recipes</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Calculator">Calculator</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a></li>
            </ul>
        </div>
</footer>*@