<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Too Much People";
}


<div class="alert alert-danger">
  <strong>They are too much people in this class.</strong>
</div>
<br />

<p>You can join other class, just click <a asp-controller="Class" asp-action="Index" class="btn btn-success">Here</a></p>