<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Not Success";
}


<div class="alert alert-danger">
  Don't have in the moment products that are zero in stock ... nothing was updated.
</div>