
<div>
    <img src="http://3.bp.blogspot.com/-IKSOF370H_I/VH2fTh4S5XI/AAAAAAAAb-Y/e4BmmOA28oQ/s1600/FiGirlTiFbCoverPic.png" width="500" height="500" class="img-fluid" alt="Responsive image">
</div>
<br />
<br />

<form>

    <div class="form-group">
        <label for="input1">Input your Age</label>
        <input type="text" class="form-control" id="input1" placeholder="Example : 26">
    </div>

    <div class="form-group">
        <label for="input2">Input your Weight in KG !</label>
        <input type="text" class="form-control" id="input2" placeholder="Example : 55.6">
    </div>

    <div class="form-group">
        <label for="input3">Input your Height in CM !</label>
        <input type="text" class="form-control" id="input3" placeholder="Example : 181.2">
    </div>

    <label>Choose what is your goal</label>
    <select class="form-control form-control-sm">
        <option>Weight Loss</option>
        <option>Increase Muscle Mass</option>
        <option>Weight Maintenance</option>
    </select>
    <br />
    <button type="submit" class="btn btn-warning">Calculate</button>
</form>
