@model IEnumerable<BuyProductViewModel>


<div class="container">
    <div class="jumbotron">
        <h1>Oops ... some product is not available in stock</h1>
        <p>You just buyed only those products</p>
        @foreach (var product in Model)
        {
            <p style="color:purple">Product name: @product.Name</p>

        }
    </div>
    
    <br />

    <h3> Thank you for buying from us!</h3>

</div>