<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="container">
    <div class="jumbotron">
        <h1>Don't have in the moment any products addded</h1>
        <p>
            Visit our shop and buy something.  <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index", "Shop")'">Shop Now</button>
        </p>
    </div>
</div>