@model PaymentFormModel

 @{
    ViewData["Title"] = "Payment";
}


<head>
    <link rel="stylesheet" href="~/css/payment.css" />
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-lg-0 mb-3">
            <div class="card p-3">
                <div class="img-box"> <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt=""> </div>
                <div class="number"> <label class="fw-bold" for="">**** **** **** 1060</label> </div>
                <div class="d-flex align-items-center justify-content-between"> <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small> <small><span class="fw-bold">Name:</span><span>Kumar</span></small> </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="card p-3">
                <p class="mb-0 fw-bold h4">Payment Methods</p>
            </div>
        </div>
        <div class="col-12">
            <div class="card p-3">
                <div class="card-body border p-0">
                    <p> <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"> <span class="fw-bold">Information</span> <span class="fab fa-cc-paypal"> </span> </a> </p>
                    <div class="collapse p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-8">
                                <p class="mb-0">Will not make real payment ! Your card information will not saved anywhere ! It is just made for education purposes</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border p-0">
                    <p> <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample"> <span class="fw-bold">Credit Card</span> <span class=""> <span class="fab fa-cc-amex"></span> <span class="fab fa-cc-mastercard"></span> <span class="fab fa-cc-discover"></span> </span> </a> </p>
                    <div class="collapse show p-3 pt-0" id="collapseExample">
                        <div class="row">
                            <div class="col-lg-5 mb-lg-0 mb-3">
                                <p class="mb-0">Adding some fake Visa credit information , the form work only with Visa card information.</p>
                            </div>
                            <div class="col-lg-7">
                                <form method="post" class="form">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form__div">
                                                <input asp-for="CardNumber" type="text" class="form-control" placeholder=" ">
                                                <label asp-for="CardNumber" class="form__label">Card Number</label>
                                                <span asp-validation-for="CardNumber" class="small text-danger"> </span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form__div">
                                                <input asp-for="MonthYearOfCard" type="text" class="form-control" placeholder=" ">
                                                <label asp-for="MonthYearOfCard" class="form__label">MM / yy</label>
                                            </div>
                                            <span asp-validation-for="MonthYearOfCard" class="small text-danger"> </span>
                                        </div>
                                        <div class="col-6">
                                            <div class="form__div">
                                                <input asp-for="CvvCode" type="password" class="form-control" placeholder=" ">
                                                <label asp-for="CvvCode" class="form__label">cvv code</label>
                                                <span asp-validation-for="CvvCode" class="small text-danger"> </span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form__div">
                                                <input asp-for="NameOnCard" type="text" class="form-control" placeholder=" ">
                                                <label asp-for="NameOnCard" for="" class="form__label">name on the card</label>
                                                <span asp-validation-for="NameOnCard" class="small text-danger"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Make Payment</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}