 @{
    ViewData["Title"] = "Success Remove";
}


<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div class="alert alert-danger">
  <strong>Removed product</strong>
</div>