@model IEnumerable<RecipeViewModel>


<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />


<div class="row">

    @if (Model.Any())
    {

        @foreach (var recipe in Model)
        {
            <div class="col-sm-3">
                <div class="well">
                    <p>@recipe.Name</p>
                    <img src="@recipe.ImageUrl" class="img-circle" height="100" width="100" alt="Avatar">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="well">
                    <p>@recipe.Description</p>
                </div>
            </div>
        }

    }
    else
    {
        <h1> Don't have recipes yet , try soon !</h1>
    }

